body {
    background-color: #e8f5e9;
    color: #222;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #607D8B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #8BC34A;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: background-color 0.2s;
}

nav a:hover {
    background-color: #eee;
    color: #607D8B;
}

.main-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 10px solid #333;
    padding: 20px;
}

main {
    background-color: #8BC34A;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

main p {
    max-width: 600px;
    margin: 0 auto;
}

main a {
    color: #607D8B;
    font-weight: bold;
}

main a:hover {
    color: #333;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1px;
    text-align: center;
}


/* * input tags */

.input-container {
    display: flex;
    /* justify-content: flex-start; */
    align-items: flex-start;
    flex-direction: column;
}

.input-container>* {
    width: 100px;
    text-align: left;
}

.eye-pleasing-input {
    background-color: #f2f2f2;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

.eye-pleasing-input:focus {
    background-color: #fff;
    border-color: #8BC34A;
    outline: none;
}

input[type="submit"].eye-pleasing-input {
    background-color: #09c6c0;
    color: #000;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
}

input[type="submit"].eye-pleasing-input:hover {
    background-color: #222;
    color: #8BC34A;
    cursor: pointer;
}

textarea.eye-pleasing-input {
    height: 150px;
    width: 350%;
    resize: none;
}


/* * scrollbar */

::-webkit-scrollbar {
    width: 15px;
}

 ::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: #c6c6c6;
    border: 2px solid #444;
    border-radius: 30px;
}